[submodule "modelica/thirdParty/electrolytemedia"]
	path = modelica/thirdParty/electrolytemedia
	url = https://gitlab.git.nrw/rwth-avt-svt/public/electrolytemedia.git
[submodule "modelica/thirdParty/PhotoVoltaics"]
	path = modelica/thirdParty/PhotoVoltaics
	url = https://github.com/christiankral/PhotoVoltaics.git
